<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%= f.label :title %><br> -->
    <%= f.text_field :title, placeholder: 'Title', class: "form-control" %> <br>
  </div>
  <div class="field">
    <%= f.text_area :value, placeholder: 'Your post', class: "form-control", id: 'editor' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-default btn-block btn-lg" %>
  </div>
<% end %>

<script>
  var editor = new Editor();
  editor.render();
</script>